{# lib/Resources/views/index.html.twig #}

{% use '@MazariniBootstrap/table/content.html.twig' %}
{% use '@MazariniBootstrap/pagination/nav.html.twig' %}

<table class="table">
    {% block content_container %}
        {{ parent() }}
    {% endblock content_container %}
</table>

{% block pagination_container %}
    {{ parent() }}
{% endblock pagination_container %}
